[2017-01-16 14:21] sunscreem opened #2 "Can I get a twix please?"
I'm hungry.

[2017-01-16 14:24] dannyockilson commented on #2
no

[2017-01-16 14:24] #2 closed, assigned to nobody

[2017-03-02 14:25] sunscreem opened #5 ""site live" checklist"
I've a checklist I use when I put a site live that I still need to run through for this website. Google analytics, proper 404 pages, etc.

I'll try to get that worked through in the next couple of days.

I thought I'd leave this issue open though so y'all are aware I'm on it :)

[2017-03-02 14:26] sunscreem opened #6 "Upgrade to Laravel 5.4"
I'll get the upgrade from Laravel 5.3 > Laravel 5.4 done in the next day or two.

[2017-03-02 14:29] sunscreem opened #7 "Add SSL to the site."
Now the site is live I can sort this.

[2017-03-02 14:34] sunscreem opened #8 "Merge the news website into this website."
I can't see any good reason to have the news as a separate site.

I'll make sure the url (news.aberdeenphp.co.uk) still works, but I think I'll get the new to match the theme of the new website and move forward from there.

Give me a comment if that doesn't seem sensible to you.

[2017-03-02 14:37] sunscreem commented on #7
Done'd. 2 clicks thanks to Forge and LetsEncrpyt :)

[2017-03-02 14:37] #7 closed, assigned to nobody

[2017-03-02 14:38] sunscreem opened #9 "Add uptime monitoring."
I use uptime robot. I'll just monitor the homepage for a keyword of two.

Let me know if anyone prefers it monitored another way.

[2017-03-02 21:37] #6 closed, assigned to nobody

[2017-03-02 21:40] sunscreem commented on #9
Done :)

[2017-03-02 21:40] #9 closed, assigned to nobody

[2017-03-03 13:51] sunscreem opened #10 "The navigation is buggered on mobile"
On small devices anyway. Will sort asap.

[2017-03-04 11:13] dannyockilson commented on #10
The PR I had set up should have fixed the mobile menu... It doesn't seem to have taken effect though will check.

[2017-03-04 11:24] dannyockilson opened #11 "Automate Builds"
SCSS/JS could be compiled down during the deploy rather than needing to be run on the local machine. Adds consistency (ie you can't forget to do it) and means someone with little experience can edit a scss file and push up a small change without having to set up node/npm/webpack etc. Can set this up but might be best to have a chat about this and see what people are comfortable?

[2017-03-04 11:29] dannyockilson commented on #10
Seems the app.css is out of sync with the changes to the scss files. Tried running the build but getting some cray-cray errors from mix-webpack. Possibly some clashing dependencies since it's using an older beta version of webpack... will debug it when I cba :p

[2017-03-04 12:37] sunscreem commented on #11
Yeah - it sounds sensible to me but the workflow would be very different than I'm used to, not to say we shouldn't do it but I'm struggling to wrap my head around how that would work.

How would I compile the sass locally for example? Interested to hear what @billythekid thinks?

Since laravel have moved to webpack it really is a case of `npm install` (wait an hour lol) then `npm run dev` or `npm

[2017-03-04 12:40] sunscreem commented on #10
Ah - yeah - on laravel the app.css is nearly always generated. Plus I've turned on versioning to prevent confusion when pushing live.

I'll go and look at the PR I merged and apply the changes to the scss version.

[2017-03-04 13:02] sunscreem commented on #10
Balls - this is confusing. I think I got a conflict, locally, when I first merge your change in danny. And them mistakenly removed the wrong one.

I saw this because I applied the change on develop, all working, then went to merge and got the conflict again. Only time i've had conflict like that in the past was litterally when me and billy changed the same file.

Anyway - its fixed now. Couple of

[2017-03-04 13:22] sunscreem opened #12 "The events page isn't working."
I'll fix it, add monitoring. and I'll also install bugsnag so I get notified of these errors.

[2017-03-04 13:36] sunscreem commented on #12
![image](https://cloud.githubusercontent.com/assets/7523595/23579164/80a099ae-00df-11e7-80be-97edd1082a6e.png)

Well - looks like not all events have a venue!

Such a lazy description of an event too. Urgh.

Anyway. That's the issue. I'll get a fix now.

[2017-03-04 13:39] sunscreem commented on #12
Added uptime monitoring to this page now.

[2017-03-04 13:44] #12 closed, assigned to nobody

[2017-03-04 15:33] dannyockilson commented on #11
Yeah you can still run things locally; basically we'd remove the compiled css/js etc from git, you keep it locally for testing. Then when you push the CI runs the `npm install && npm run production` then deploys the results.

I'm assuming the deployment already runs the composer install and migrations etc? So it'd be pretty similar to how that's done. Can have a chat about this at some point when

[2017-03-04 15:34] dannyockilson commented on #10
Yeah that's fine :)

I had put black background and white text but the other way round works fine as well 👍

[2017-03-04 15:34] #10 closed, assigned to nobody

[2017-03-04 15:36] dannyockilson commented on #5
Had a look at this post https://philipwalton.com/articles/the-google-analytics-setup-i-use-on-every-site-i-build/ a while ago and been meaning to try some of it out. Might be a good idea to see how effective the site is/where people come from etc?

[2017-03-04 15:40] sunscreem commented on #5
Bloody hell - that's some clever stuff he's got going on there. I guess it would be good to see more than just how many visitors there are to the site lol.

[2017-03-04 16:10] dannyockilson commented on #5
Yeah there's a hell of a lot in there... by no means suggesting we do it all. I've very rarely gone much beyond installing the basic tag before so could be interesting to see what we can do.

[2017-03-04 16:20] dannyockilson opened #13 "Other events in Aberdeen"
This bit is nice but having it at the bottom of our events makes it a lot of scrolling. Would people be ok with me moving this over to the community page?

[2017-03-04 16:21] sunscreem commented on #13
That make sense to me. Either that or we collapse the details of the existing events?

[2017-03-04 16:22] sunscreem commented on #13
(Are you about to get your hands dirty in laravel lol?)

[2017-03-04 16:42] billythekid commented on #11
love this idea. half the git conflicts I have are with another Dev whose
scss compiler is different from mine on the compiled CSS. add the compiled
to gitignore so you can compile locally and test etc

(Rob - edited billy's reply as it included all the rest of the email thread)

[2017-03-04 16:45] sunscreem commented on #11
I'm following ... but ... not wanting to be negative (just wrapping my head around it)

Doesn't that mean my local site could, potentially, be different from the production site?

And isn't it in effect doubling the work? ie. I'd still have to run npm locally anyway?

If everyone's package.json is in sync the compiled code should be identical anyway?

Also - possible spanner in the works. I've tur

[2017-03-04 18:36] sunscreem commented on #5
Not sure if you guys verify your sites with google and bing normally but I generally do so that I get notified if something is wrong and the can't be crawled.

[2017-03-04 19:05] sunscreem commented on #5
Sorry about that ...

![image](https://cloud.githubusercontent.com/assets/7523595/23581526/816ced3c-010d-11e7-96c2-1f3b7c14e8b6.png)

And with that i'll close this as done. If you want to do anything with the analytics danny go right ahead sir :)

[2017-03-04 19:05] #5 closed, assigned to nobody

[2017-03-04 19:09] sunscreem commented on #5
FYI: I've checked over my own list for all this plus this excellent list from spatie https://github.com/spatie/checklist-going-live

[2017-03-05 13:52] dannyockilson commented on #13
Yeah I'm gonna sort it tomorrow :)

[2017-03-05 14:05] dannyockilson commented on #11
It shouldn't make your local dev different to production unless you change the tooling your using locally to do something different. I'm not sure I follow how that would make things different :s

It doesn't increase the work you are doing cause it's automated... Means you can do what you are doing now and nothing has to change but we avoid conflicts in app.css output and avoid someone not building

[2017-03-05 14:08] sunscreem commented on #11
Cool - I'm kinda sitting in the "this is going to make life more complicated" camp at the mo. Compiling assets on production sounds like the door being opened to issue to me, however, I'm aware I'm probably only saying this as its not my 'normal' workflow and I'm not sure about it all.

But yeah - good topic for the next lunch for sure.

[2017-03-05 14:13] sunscreem opened #14 "Contact Form"
Any reason I can't add a contact form?

Is the info@aberdeenphp.co.uk all working okay Danny?

I'll need you to add some DNS records for mailgun if you are happy to @dannywilson.

[2017-03-05 14:39] dannyockilson commented on #14
We can do yeah. I only ever got spam through it on the old site so not overly missing it but can't hurt to add one on.

[2017-03-05 14:41] sunscreem commented on #14
Cool - I'll do that today. If I can be arsed. Probably not. The sun is out.

[2017-03-05 14:44] sunscreem commented on #8
I'm now leaning towards keeping this separate as I can see the news site getting a bit more complex and probably just making contributing to the abphp site even more challenging for noobs.

[2017-03-05 16:52] sunscreem commented on #14
Danny can add the following subdomain to abphp so we can send outgoing email via mailgun (I'll cover the cost - not that it will be anything other than pennies)?

`mg.aberdeenphp.co.uk` with the following entries:

- [ ] Type: `TXT` Hostname: `mg.aberdeenphp.co.uk` Value: `v=spf1 include:mailgun.org ~all`

- [ ] Type: 'TXT' Hostname: `mailo._domainkey.mg.aberdeenphp.co.uk` Value: `k=rsa; p=MIGfMA0

[2017-03-11 09:16] dannyockilson commented on #13
#15 should do this, still a few tweaks on going but think it's pretty much good to go :)

[2017-03-11 09:49] sunscreem opened #16 "The sass isn't uglifying or minifying but the JS is."
This is probably just an issue with windows or some other odd thing in my local setup - so this is more a reminder to look at that when I get a min

[2017-03-11 09:49] #13 closed, assigned to dannyockilson

[2017-03-12 14:06] sunscreem commented on #14
@dannywilson Can I remind you about adding those dns entries for me dude?

[2017-03-12 14:35] sunscreem commented on #14
Oh and check this:

[Code - Markdown Email!](https://github.com/AberdeenPHP/AberdeenPHP-Website/blob/feature-addcontactform/resources/views/emails/contact-us-message.blade.php)

Produces:

![image](https://cloud.githubusercontent.com/assets/7523595/23832644/e00e0258-0730-11e7-877a-0a1ea95dd6a4.png)

Gotta love laravel (sometimes)

[2017-03-13 08:00] dannyockilson commented on #14
Will get on the DNS this morning :)

[2017-03-13 15:40] dannyockilson commented on #14
Updated the DNS (my definition of morning is very loose) Should tick through in a few hours (cheap hosting and ttl min is 4 hours)

[2017-03-13 15:48] sunscreem commented on #14
No problemo. I'll keep an eye on it changing :)

[2017-03-14 14:35] sunscreem opened #17 "Are we okay to use the background images?"
Random thought...

https://www.flickr.com/photos/29609591@N08/5371187508/

If this is the source of this one it's under copyright.

Same with this one I think..

http://www.panoramio.com/photo/40588614

[2017-03-14 16:13] billythekid commented on #17
we should use them under whatever terms the licences have, attribute etc.

- Dunnottar castle isn't even in aberdeen

[2017-03-15 13:05] sunscreem opened #18 "Add caching to open tech cal pulls"

[2017-03-15 13:32] sunscreem opened #19 "Change logo back to svg"

[2017-03-15 17:32] caleuanhopkins commented on #8
👍

does that mean I'm a contributor now?

[2017-03-15 17:56] caleuanhopkins commented on #19
because for some reason Github won't let me upload SVG files:
[ab-php-logo.svg.zip](https://github.com/AberdeenPHP/AberdeenPHP-Website/files/845559/ab-php-logo.svg.zip)

Change elephant to match PHP elephant and changed font Open San to match website. Can send .ai file if anyone needs it

[2017-03-15 21:18] sunscreem commented on #19
Thanks Callum. I'm not up to speed with svg so I might need to come back to you on this one. I should have this done tomorrow or Friday.

[2017-03-15 21:31] caleuanhopkins commented on #19
@sunscreem aye no probs, any issues I can implement it in like a few seconds.

@dannywilson make sure you approve the slight changes to the logo b4 we go too far into implementing it

[2017-03-15 22:28] billythekid commented on #19
i approve

On 15 Mar 2017 9:31 pm, "Callum Hopkins" <notifications@github.com> wrote:

[2017-03-15 22:34] sunscreem commented on #19
Proper lol!

[2017-03-15 23:01] dannyockilson commented on #19
I've pushed up a PR with the svg in place, just stuck the original file with the fonts converted to outlines. This means we don't have to load the fonts for it to render properly (also it's a typekit font and typekit is SLOW AS HELL sometimes so best to avoid relying on it)

[2017-03-16 08:21] caleuanhopkins commented on #19
apologies haven't exploded out the fonts when I did last night. Here's an updated version with ungrouped layers and objects instead of a font. it's compressed too and should be "responsive", whatever that means in illustrator.

[ab-php.svg.zip](https://github.com/AberdeenPHP/AberdeenPHP-Website/files/847067/ab-php.svg.zip)

[2017-03-16 09:47] AndyGaskell commented on #17
In practice I just used the ones I'd used on my website, though took out the ones about joomla or my work.  I have the same large header that loads randomly sort of thing there. If you go to...
http://ssofb.co.uk/contact-us
....and hit F5 a few times, you'll see a few of them.

They're really just meant as eye candy placeholders, it'd be great if we could replace them with ones that were more 'us'

[2017-03-16 09:49] billythekid commented on #17
that pics good because it has girls in it, showing how diverse literally
EVERY meeting is.

On 16 March 2017 at 09:47, Andy Gaskell <notifications@github.com> wrote:

[2017-03-16 09:56] sunscreem commented on #19
@AndyGaskell Did you see there's an updated version that needs added to that PR?

[2017-03-16 09:57] sunscreem commented on #17
I like that pic - dunno if it says "clique" though?

[2017-03-16 10:05] sunscreem commented on #17
Just spoke with Chris (notnixon)....

He's going to sort us out with a few pics to choose from. All along the same lines as the current ones ☺️

[2017-03-16 10:10] sunscreem commented on #17
Danny. How would you feel about giving Chris a wee link on the supporters bit if we use his images?

[2017-03-16 10:28] caleuanhopkins commented on #17
Can we not reach out to a few photographers on Flickr that have CC license and just credit them with a small `<caption>` in the banner's bottom right corner?

[2017-03-16 10:41] sunscreem commented on #17
I'd prefer it to come from someone we know if we can?

[2017-03-16 10:42] dannyockilson commented on #19
Ah didn't realise you'd done that, did the same thing to it before uploading the PR ;)

[2017-03-16 10:44] sunscreem commented on #19
Callum. Any browsers that we should be double checking this in?

[2017-03-16 10:45] sunscreem opened #22 "Accessibility checks."
I'll just open the issue and see what happens.

I've very little experience on this (to my detriment)

[2017-03-16 11:29] billythekid commented on #22
https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction
will help
https://www.powermapper.com/blog/government-accessibility-standards/

[2017-03-16 11:39] sunscreem commented on #22
Lol.. Cheers.

Will you be submitting a PR? Hint-hint.

[2017-03-16 18:30] sunscreem commented on #14
@dannywilson [Still No Change Yet :(](https://toolbox.googleapps.com/apps/dig/#MX/aberdeenphp.co.uk)

[2017-03-16 19:54] caleuanhopkins commented on #17
@sunscreem 6 and two 3s. We'd probably be putting Chris' credit on the photos anyway so we could mix and match if we feel we need more

[2017-03-16 20:00] caleuanhopkins commented on #19
@sunscreem nope, if we're sticking with the recommended list of support browsers [IE](https://en.wikipedia.org/wiki/Internet_Explorer_version_history#Release_history_for_desktop_Windows_OS_version), [FF](https://en.wikipedia.org/wiki/Firefox_version_history#Release_history), [Chrome](https://en.wikipedia.org/wiki/Google_Chrome_version_history), [Safari](https://en.wikipedia.org/wiki/Safari_version

[2017-03-16 20:15] sunscreem commented on #17
Here we go folks.

Chris just sent over this. All pre cropped for us too.

What do we think. Any of these any use?

https://drive.google.com/folderview?id=0B-_K4N3k8CHraXlGV1ZiN3oxTmc

[2017-03-16 21:11] caleuanhopkins commented on #17
7,5,4 and 6 are all good for me. the others I could take or leave. Generally, though, they will do nicely. Though if we could get some birds eye replacements for the ones we have on the site, I think that would look good too mixed in with these

[2017-03-16 22:12] AndyGaskell commented on #17
They all look great, nice one :)

I would say, just drop all 7 of therm into the "public/images/random_header_images/" and see how they look on the site.  The images feel look different in place, and will vary quite a lot depending on device / viewport.

Then we'll have 17, which is a good number, folk wont often see repeats.  From there we can just hive off the least good ones.  My general feelin

[2017-03-16 22:20] sunscreem commented on #17
I'll do this tomorrow ☺️

I'll need to remove any of the copyrighten images though. Any ideas if any of the original ones are okay for us to use?

[2017-03-16 22:23] AndyGaskell commented on #17
Not sure re copyright ones, some were, I think CC, but not sure which.  I'm sure it's probably not really a problem, and if it arises, just forward any lawyers letter to me ;)

[2017-03-17 09:20] dannyockilson commented on #14
added them on the subdomain... mg.aberdeenphp.co.uk was than not the correct thing to do? https://toolbox.googleapps.com/apps/dig/#MX/mg.aberdeenphp.co.uk If they need to be on the main one I can make the changes :)

[2017-03-17 09:22] sunscreem commented on #14
oh ffs - you did too and that is correct. Sorry man my mistake. Leave it with me.

[2017-03-17 09:38] #18 closed, assigned to sunscreem

[2017-03-17 09:43] sunscreem commented on #19
That's me tested in chrome, firefox, android web thingy, on an iphone 5 and edge on windows 10 and the logo looks fine on them all. Closing - ta for you help on this one danny + callum :)

[2017-03-17 09:45] sunscreem commented on #17
Cool - I've a lot of worry about using other folks pics without express permission Andy. I've been stung in the past with a american company sending me a huge cease and desist. I'm maybe being over cautious.

@dannywilson Can you take a deciding vote?

[2017-03-17 17:01] billythekid commented on #17
Just looked at Chris's pictures, they're excellent. I'd be happy with any of those. I like what Andy suggests and just have it randomly take one.

[2017-03-17 18:08] RyanRoberts commented on #22
I would be up for doing this.

Billy volunteered me ;)

[2017-03-17 18:12] sunscreem commented on #22
Aaammmazing. You could teach a few us ☺️

[2017-03-18 10:04] dannyockilson commented on #19
Hey just reopening this quickly. Should I be using the new design for social media and stuff to keep consistent? (I know the logo is fairly small on the site so people might not actually notice they're different :p)

[2017-03-18 15:56] #14 closed, assigned to sunscreem

[2017-03-18 15:57] sunscreem commented on #14
@dannywilson You should have an email from the contact form now (assuming spam filters have let it through). Add a new issue if you want me to add the invisible recaptcha if you think it needs it  :)

[2017-03-18 16:09] #17 closed, assigned to sunscreem

[2017-03-18 16:10] sunscreem commented on #19
I would say so Danny. I'll need to update it on my news site too. (If I'm honestly I never noticed a difference?)

[2017-03-18 16:11] #8 closed, assigned to sunscreem

[2017-03-18 16:23] #16 closed, assigned to sunscreem

[2017-03-18 16:24] sunscreem opened #24 "Various spelling and grammar checks needed throughout the site."
Hoping Rowan gets a min to help us out on this one :)

[2017-03-26 12:40] sunscreem opened #25 "Website Amendments From Rowan"
## Site Wide

- [x] Body text needs normal font (sans serif ? Match what's used isn't the banners and nav)
Justify text ?

## Home
- [x] Change location and time to list/field with map
- [x] "We usually have pizza, beer and soft drinks."  - remove usually (provide? ). Add tea and coffee / hot drinks
- [x] "The group is a diverse," remove 'a'

## About
- [x] Title - Remove full stop
- [x] Title - c

[2017-03-26 12:42] sunscreem commented on #25
I'm happy to work through these and get the changes done, but if anyone else wants to help out that would be great.

@zenrhe I just cut and paste your list you emailed as they all make sense to me :)

[2017-03-26 12:44] sunscreem commented on #24
Done - raised a new issue #25

[2017-03-26 12:44] #24 closed, assigned to sunscreem

[2017-03-26 18:20] dannyockilson commented on #25
Will grab a few tomorrow :) If anyone else is wanting to just make sure you tick them off :)

[2017-03-27 08:12] RyanRoberts commented on #22
I've not forgotten about this. I'd planned to do it over the weekend but left my laptop at work 🙄

[2017-03-27 08:23] billythekid commented on #22
@RyanRoberts I've tried to assign this to you but I think because you're not on the core team I can't. Just PR it when ready. No rush on this at all. Glad to have your insight.

[2017-03-27 08:29] billythekid opened #26 "ReadMe needs updating"
The intro to laravel routes could do with an update, we're not using callback functions in the routes/web.php file anymore we're using controllers so all the blurb in the readme about returnign a view isn't very helpful and will only confuse folks.

Perhaps it might be a good idea to put an example callback one in there for people to contribute with, that we can pull into the MVC setup later. Then

[2017-03-27 13:21] sunscreem commented on #26
Agreed with both sir. I'll sort this soon.

[2017-03-27 13:23] sunscreem commented on #22
I've sent an invite to Ryan just now billy :)

[2017-03-28 12:44] sunscreem opened #27 "OpenTechCal Timeout Issues"
No need to comment or jump on fixing this, just to make you all aware that I've now had a few bug reports because of opentechcal having issues with their API.

[code]
The code that [does this pull is here](https://github.com/AberdeenPHP/AberdeenPHP-Website/blob/master/app/Http/Controllers/EventsPagesController.php#L15).

This is just the age old problem of relying on third parties for content and

[2017-03-28 15:05] dannyockilson commented on #27
Yeah, the caching should be enough for this? We can set the cache to refresh weekly or something? The other option would be to do the call on the frontend (least we can show an error/loader that way?)

[2017-03-28 15:08] sunscreem commented on #27
I'm not sure. Caching for longer than longer still kinda feels like a bit a workaround to me, and doesn't really solve the problem of if they are down for any reason.  Doing the call on the front end is an option but I'd worry that someone could screw us up and get us blocked somehow.

[2017-03-29 16:54] billythekid commented on #27
What's the report? how does it fail? can't this just be wrapped in a
try/catch like everything else?

On 28 March 2017 at 16:08, Robert Cooper <notifications@github.com> wrote:

[2017-03-29 19:27] caleuanhopkins commented on #19
I also want royalties.

🍕+🍺

[2017-03-30 07:38] #19 closed, assigned to sunscreem

[2017-03-30 07:47] dannyockilson commented on #27
Frontend should be pretty safe since it's just an ical feed (read only) but yeah storing them somewhere as a backup make sense. I'm not sure what Laravel uses for Caching out the box but I'd consider cache vs storage in a db relatively equivocal? I don't see how it is any less robust (in terms of dealing with service outage). The other alternative is we just pull the icals into a google calendar a

[2017-03-30 16:12] sunscreem commented on #27
I'm just using a the built in file cache that ships with Laravel.

I think there is a difference between the two approaches (caching verses db) let me explain my thinking as I'm probably wrong lol.

Let say OpenTechCal is down for whatever reason:

Cache; There's been no visitors to the site for a day so the cache is empty (if it remains set at 2 hours like now). It tries to pull a fresh update, f

[2017-03-31 14:02] dannyockilson commented on #27
Yeah that makes sense I just figured we'd bump up the cache length significantly (the data doesn't change overly regularly). Could we also pre-fill the cache using the scheduler? Or could do a

[code]

style thing and set the cache lifetime to a few thousand years :p

[2017-03-31 14:04] sunscreem commented on #27
That's an interesting angle. I've always worked on the idea that once the cache expires then that's it. Let me have a look into that one and see if laravel has some clever stuff built in for handling this. Can't begin to tell you the number of times I've found a one line solution for stuff like that.

[2017-04-06 13:39] sunscreem opened #28 "We should add this 2nd birthday photo to the website"
![c8qvbn2umaezkx1](https://cloud.githubusercontent.com/assets/7523595/24757347/db715b00-1ad6-11e7-8a84-2e54a02e4a6e.jpg)

[2017-04-18 11:51] AndyGaskell commented on #28
This sounds a good idea, There were 3-ish others I was gonna add too, I'll try take a snap or two tomorrow, then we'll have enough for two new rows.
![scott_feb_2017](https://cloud.githubusercontent.com/assets/91541/25129390/befa05a4-2435-11e7-8afc-50a747ecd5d5.jpeg)
![dave_march_2017](https://cloud.githubusercontent.com/assets/91541/25129389/bef9a9a6-2435-11e7-8c9b-c4e923f5fb37.jpeg)
![stag_march

[2017-04-20 14:06] RyanRoberts commented on #22
Just a quick note that I still haven't forgotten this ;)

I've been doing a lot of research lately into accessibility as well as putting it to use at FortyTwo. As part of this, I have a meeting at the North East Sensory Services charity to get an even better idea of what assistive tech users need and what their problems are.

[2017-04-20 14:07] sunscreem commented on #22
Thanks again Ryan. Appreciate you bearing us in mind :)

[2017-05-03 19:04] dannyockilson opened #29 "Typo spotted"
Home page has capital `W` in "Web"...

[2017-05-05 11:54] AndyGaskell commented on #28
Snapped one the other day, bit blurry though
![img_20170503_201845](https://cloud.githubusercontent.com/assets/91541/25744468/fd50af4c-3191-11e7-82c4-f2f21f3e23e6.jpg)

[2017-05-05 18:41] Surreily opened #32 "Two small typos in readme.md"
At the bottom of the file under Resources, the second bullet point reads "I includes Font Awsome" when it should read "It includes Font Awesome".

[2017-05-05 20:14] #32 closed, assigned to nobody

[2017-05-08 09:33] sunscreem commented on #28
I'm pregnant. Its a pizza baby.

[2017-05-08 20:32] caleuanhopkins commented on #28
My face looks like I've noticed what Andy was up to and I'm not one bit happy that he's done it...

[2017-05-08 20:33] caleuanhopkins commented on #28
Rich also looks like he wants to stab me right in the face

[2017-05-16 17:22] #29 closed, assigned to nobody

[2017-05-16 17:22] #28 closed, assigned to nobody

[2017-05-19 17:25] #26 closed, assigned to sunscreem

[2017-05-19 17:26] sunscreem commented on #11
Closing this as I think we've decided against this - FOR NOW lol

[2017-05-19 17:26] #11 closed, assigned to nobody

[2017-05-19 18:05] sunscreem opened #37 "Change to using named routes and move contact details (email, twitter) to a config file."
Both will make the views easier to maintain and helps prevent forgetting to change, say, a twitter handle somewhere on the website.

[2017-05-19 18:15] sunscreem commented on #25
Plenty more to do. I've done the easy ones for now :)

[2017-05-24 18:19] sunscreem commented on #25
That's nearly all of these done. Some of the items need a little more discussion. I'll raise them as separate issues.

[2017-05-24 18:19] #25 closed, assigned to sunscreem

[2017-05-24 18:22] sunscreem opened #40 "Rowan suggested changing the body text to match the header"
Rowan wrote:

_Body text needs normal font (sans serif ? Match what's used isn't the banners and nav)_

_Justify text ?_

I'm guessing the font choice was part of the theme @AndyGaskell used? My personal opinion is keep it as is. Anyone disagree?

[2017-05-24 18:26] sunscreem opened #41 "Rowans comments on "About Us" photos"
Rowan wrote:

_edit so not so dull_
_picture viewer so when you click you see a big one_

Anyone fancy picking this one up? I have a hatred of building picture viewers.

If no-one wants too I'll need original photos from Andy (if you could crop them to something sensible -
 say 800px wide and upload them in PR @AndyGaskell that would be great!). I'll then use [Featherlight.js](http://noelboss.gith

[2017-05-24 18:31] sunscreem opened #42 "Events Section Is A Mess"
The way the events are displayed on the events page is a bit meh.

Rowan suggest a month view calendar type idea?

At the very least we could do with reducing the amount of near "duplicates" (57North - looking at you!) and reduce the amount of text on the page by collapsing things [behind an accordion](http://getbootstrap.com/javascript/#collapse) or similar.

If anyone fancies making this, please

[2017-05-24 18:50] AndyGaskell commented on #41
I don't mind doing this, I'd kind of held off in-case there was a lavavel-ey way of doing it.

I think the template includes Cleverbox or Fancybox, from memory.

I think, from memory, the images are (or were) quite large, so we will probably have higher res ones.

@sunscreem let me know here if you wanna to do this, otherwise I'll have a go

[2017-05-24 18:55] sunscreem commented on #41
Ach. If you can process the large photos to a uniform(ish) size and maybe
brighten the existing small images a bit that would save me the bit I hate
doing?

On Wed, 24 May 2017, 19:51 Andy Gaskell, <notifications@github.com> wrote:

[2017-05-24 19:01] billythekid commented on #41
I'd quite like to build a lightbox. You know how I like javascriptz

[2017-05-24 19:05] sunscreem commented on #41
Fill. Your. Boots.

On Wed, 24 May 2017, 20:01 billythekid, <notifications@github.com> wrote:

[2017-05-24 20:06] AndyGaskell commented on #41
ok, sounds a plan, @billythekid you do the JS and I'll sort out the images :)

[2017-05-24 20:08] AndyGaskell commented on #40
Yea, I'm not sure if there is really a right answer tbh.

I used to use Sans everywhere, but last few years I switched to sans for headings and serif for body, which is supposed to be better for readability.  There is pretty established research on serif fonts being easier to consume in long-form reading.

[2017-05-24 20:17] AndyGaskell commented on #41
So, the images themselves are all 600px wide, so we can probably just use the same ones inline as in the lightbox, at least to start with.

[2017-05-24 20:35] billythekid commented on #41
I've thrown something together in the btkLightbox branch. Stupidly simple, raw JS and SCSS. Feel free to screw with it. Completely untested in anything other than chrome on my mac. ymmv etc.

[2017-05-31 12:19] #37 closed, assigned to sunscreem

[2017-06-03 15:15] sunscreem commented on #41
Cheers for that Billy.

It could defo do with some additions - ability to swipe through (and cursor keys) through image, better mobile implementation, close on esc, stretch images if they are a little small, captions, etc but you know what... You wrote this from scratch in vanilla JS and for that, sir, I tip my hat. It'll do the job nicely.

[2017-06-03 15:16] #41 closed, assigned to AndyGaskell, sunscreem

[2017-06-03 15:17] sunscreem commented on #40
CLosing for now. We can always re-open if anyone comments the same.

[2017-06-03 15:17] #40 closed, assigned to nobody

[2017-09-23 10:06] sunscreem opened #45 "Huge weirdness going on with AB PHP website?"
Last week I had to disable the uptime monitoring on the website as it saying it was down a lot when it definately wasn't. I assumed it was a DNS issue, so, as Danny was away I shelved it for a couple of days as "one of those weird things".

Now yesterday I've got a HUGE list of broken urls being reported by webmaster tools.

None of the urls have ever existed on this server and there's no site map

[2017-09-26 11:02] AndyGaskell commented on #45
The...

...looks like inbound spam to me.  Either inbound spam links or spam 404 bots.  I usually just ignore these.

[2017-09-26 11:05] sunscreem commented on #45
Hmm - I've not seen that before.

[2017-09-26 22:44] AndyGaskell commented on #42
I think the format is a good thing.  I know what you mean, a month view calender is the norm, but that'd look a bit rubbish with only or two entries per month.  I was thinking the vibe of the site is kind of chatty and not overly complex, so the text format fits this well.

The user story for this page is, I think, something like "When is the next meet-up and what's it about?" and to my mind https

[2017-09-29 18:14] sunscreem commented on #45
@dannywilson I notice one of the error pages has your name on it. Probably just a co-incidence?

[2017-10-03 07:49] dannyockilson commented on #45
Erm yeah looks like a whole lot of spam, some of it is the old site though, think the author/danny one is from when it was on WordPress and some of the events ones were the old WordPress urls but 90% of it seems to be spam.

[2017-10-03 13:10] sunscreem commented on #45
Okay - nothing I can really do anything about I guess. I'll close this and turn the uptime monitoring back on and see what happens :)

[2017-10-03 13:10] #45 closed, assigned to nobody

[2017-10-08 16:13] evocate opened #49 "Contact Form Validation"
https://github.com/AberdeenPHP/AberdeenPHP-Website/blob/c5652cb5510fa0350b3b358940108b9701c8ac00/app/Http/Requests/ContactFormRequest.php#L24-L32

Apart from wanting an excuse for using the linking of code directly into an issue that I learned from the latest meetup...  _fist pump #aberdeenphp_

Is there a reason a name can't have two characters and should there be a sensible limit on how many cha

[2017-10-08 16:16] sunscreem commented on #49
I do this because in my experience the only people who don't put their full name into a form are spammers :( Especially the non-bot type spammers - usually trying to sell you dodgy SEO stuff.

For the max length - there's no reason why you couldn't add that if you like (it would need to be on the front and back end) but it's not really needed. Happy to merge a PR if you want to clock up some more

[2017-10-08 16:27] evocate commented on #49
Poor Jo.

You know my game  ;-)  Should there be a character limit for the message itself, if so what do you suggest?  Or just the name itself?

[2017-10-08 17:09] sunscreem commented on #49
I'd say a name should never be more than 100 chars.

And a message about 5000?

[2017-10-08 21:24] evocate commented on #49
a4c8cae676e940935988ef04d188eabfffbf584d

[2017-10-09 12:39] #49 closed, assigned to nobody

[2017-10-14 16:57] evocate commented on #42
I agree with @sunscreem.  It's too much descriptive text to find the important information (what, where, when) quickly.  Agree also with @AndyGaskell with the point that an almost empty calendar would look poor.

I have what I think may be a simple solution.  That for now, we have an overview of upcoming events at the top of the page.  On desktop this could show the next 4 and on mobile 3 (2 maybe

[2017-10-14 17:07] sunscreem commented on #42
Richard - thank you fella.

Would you be thinking these cards would replace the data below or in addition too it?

Trying to put myself in the shoes of a new person looking at that mockup and I'm wondering why some events are in cards and others in text.  Maybe that section needs a label, or perhaps the whole lot needs to be cards (which some way of expanding them to show the detail?) What'dya fin

[2017-10-14 17:14] evocate commented on #42
It would be in addition too.  The purpose of these cards would be just a visual overview of what will be the soonest events.  Each card would link to the relevant section / text below.

It's a more agile solution, because a full solution will take more time.  In the future we could turn potentially turn this into a carousel and / or have a link to a full calendar overview.

[2017-10-14 17:15] sunscreem commented on #42
Gotcha.

I think you should fire on in that case.

I want to re-write the code that brings the events in so I'll wait for you to do that front end stuff first and then I'll do my bit.

[2017-10-14 17:21] evocate commented on #42
Not really relevant in this case but in future how limited I here of using a JS framework?  Something like vue.js?

[2017-10-14 17:23] sunscreem commented on #42
No limits at all Sir. So long as others understand what's going on and we stick to well documented stuff I would say anything goes.

[2018-01-31 13:24] billythekid commented on #22
@RyanRoberts cheers Ryan, I also appreciate you keeping us in mind. ;oP

[2018-02-01 09:52] RyanRoberts commented on #22
It's almost as if I totally forgot about this 😞

[2018-02-01 19:55] sunscreem commented on #27
Closing as we've had zero error on this for months.

[2018-02-01 19:55] #27 closed, assigned to sunscreem

[2018-03-15 12:37] AndyGaskell opened #57 "Add some more photos"
This isn't really an issue, just a place to put photos to add to the ones on https://aberdeenphp.co.uk/about

Just to keep it fresh really.

I was gonna add some photos here, as I find or snap them, then once there is a few to add, I'll add them to the page.

If anyone else has some photos, drop them here :)

[2018-03-15 12:40] sunscreem commented on #57
Nice idea sir. I'm happy to add them to the repo if you CBA making a PR.

[2018-03-15 12:41] AndyGaskell commented on #57
Ta Rob, just digging through some snaps just now.

I'll kind of just dump them all here, and sort and prune them afterwards.

[2018-03-15 12:44] AndyGaskell commented on #57
Photos from 7th of march meetup...
![img_20180307_191423728](https://user-images.githubusercontent.com/91541/37463780-32f8be60-284e-11e8-9e75-e4d4d6b15336.jpg)
![img_20180307_191424804](https://user-images.githubusercontent.com/91541/37463781-3314a6ca-284e-11e8-9f77-a21ef02fa4f7.jpg)
![img_20180307_191426013](https://user-images.githubusercontent.com/91541/37463782-332e7ce4-284e-11e8-8ffd-ee65f5a6

[2018-03-15 12:48] AndyGaskell commented on #57
Not sure when this one is from...
![abphp](https://user-images.githubusercontent.com/91541/37464021-f9799910-284e-11e8-912d-605c446fd25f.jpg)

[2018-03-15 12:54] AndyGaskell commented on #57
From December's meetup, with texmex at Wired
![texmex_at_wired](https://user-images.githubusercontent.com/91541/37464235-a7d7fa56-284f-11e8-9c2b-e82c7d50c235.jpeg)

[2018-03-15 12:55] AndyGaskell commented on #57
Dave's talk in March 2017...
![dave2](https://user-images.githubusercontent.com/91541/37464389-128661b2-2850-11e8-8483-dd2ad2edc6cd.jpeg)
![dave1](https://user-images.githubusercontent.com/91541/37464390-12a42be8-2850-11e8-9cf1-9bf340bc1859.jpeg)

[2018-03-15 12:58] AndyGaskell commented on #57
May 2016, Stuart Whitehead Talking about IoT...
![stuart_w_may_2016](https://user-images.githubusercontent.com/91541/37464514-7d3518e6-2850-11e8-9581-acdcd2baf3e9.jpeg)

[2018-03-18 14:03] #57 closed, assigned to AndyGaskell

[2018-03-19 12:04] AndyGaskell commented on #57
Thanks Rob, nice one :)

I can't make the next meetup, but if someone could snap a couple of pics, that'd be cool.

[2018-10-28 18:21] billythekid opened #60 "FR: Styleguide"
Can we have a styleguide for this project please, and have some build process enforce it?

[2018-10-29 10:25] sunscreem commented on #60
I'll get Travis and style ci running on this I reckon. Psr-2.

[2018-10-29 20:15] sunscreem opened #61 "Contact Form and Bugsnag Issue"
Looks like the contact form is borked. And no error report getting to bugsnag so I'm guessing that is too.

I'll sort it.

[2018-10-29 20:19] evocate commented on #61
Working locally for me.

[2018-10-29 20:23] sunscreem commented on #61
Same. Meh - will sort tomorrow. Beer taking priority just now.

[2018-10-29 20:24] evocate commented on #61
I was going to write some tests for the contact form anyway.

[2018-10-29 20:27] sunscreem commented on #61
Cool - if you get a min go for it. I'll get travis ci set up tomorrow to
run them on PR's.

On Mon, Oct 29, 2018 at 8:25 PM Richard Forbes <notifications@github.com>
wrote:

[2018-10-30 16:43] sunscreem commented on #61
Mailgun wasn't configured in the .env - so @dannyockilson that could be many many months you've not been getting email. Bugsnag wasn't alerting us to errors because we missed the changed need in 5.5/5.6.

You'll probably get a ton of spam now. Let me know if you want recaptcha added.

[2018-10-30 16:44] #61 closed, assigned to sunscreem

[2018-10-30 18:34] sunscreem commented on #60
@billythekid Can you have a look [over here](https://github.com/sunscreem/dogpubtimemachine/pull/49) at dog pub?

Its using style ci's [laravel preset](https://docs.styleci.io/presets#laravel) and only updating php - that's a limitation of the free plan.

Is that the kind of thing you were thinking of?

[2018-11-01 19:34] #60 closed, assigned to nobody

[2018-11-02 11:16] sunscreem opened #67 "Add recaptcha v3 to contact form"
https://www.google.com/recaptcha/intro/v3.html

Let's try this out.

And save Danny's sanity in the meantime.

[2018-12-10 20:15] #67 closed, assigned to nobody